<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">1</a>
    <a class="btn btn-outline-secondary rounded-pill">2</a>
  </nav>
  <p class="text-end p-2 border-top">Total 5 Posts</p>
</div>
<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem">
    <div>
      <h3 class="fst-italic">Recent Posts</h3>
      <ul class="list-unstyled">